@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/colors" as *;

.featured {
  display: flex;
  justify-content: space-around;

  &__button {
    @include button;
  }

  &__border {
    @include border;
  }

  &__title {
    margin: auto;
  }

  &__info {
    width: 25rem;
    align-content: center;
  }

  &__description {
    margin-bottom: 3rem;
  }
}

.products {
  &__title {
    text-align: center;
  }

  &__button {
    margin: 3rem 0;
    @include button;
  }

  &__border {
    @include border;
  }
}

.card-holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background: white;
  padding: 0;
  border-radius: 10px;
  width: 20.5rem;
  overflow: hidden;
  margin: 0%;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);

  &__image {
    height: 17.5rem;
    display: block;
    margin: 3rem auto;
  }

  &__size {
    color: $textlightgrey;
  }

  &__price {
    font-weight: bold;
  }

  &__price,
  &__title,
  &__size {
    margin: 0;
  }

  &__desc {
    display: flex;
    padding: 3rem 1rem;
    justify-content: space-between;
    margin: 0;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.different {
  display: flex;
  justify-content: space-around;

  &__background {
    padding: 3rem 8rem;
    background-image: url(../assets/coldbrewbackground.png);
    background-position: center;
    background-size: contain;
    position: relative;
  }

  &__border {
    height: 100%;
    width: 100%;
    border: 5px solid #5bacc3;
    position: absolute;
    top: -1rem;
    left: -1rem;
  }
}

.info {
  width: 28rem;

  &__title {
    margin-bottom: 2rem;
  }

  &__button {
    @include button;
  }

  &__border {
    @include border;
  }

  &__imageset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
}

.discount {
  background: white;
  padding-top: 7rem;

  &__banner {
    font-size: 3rem;
    background: $backgroundgrey;
    color: white;
    width: 90%;
    text-align: center;
    padding: 3rem;
    margin: 7rem auto;
  }
}

.footer {
  display: flex;
}

.footer__address,
.footer__hours,
.footer__social,
.card {
  min-width: 20rem;
}

.footer__address,
.footer__hours,
.footer__social {
  padding: 1rem;
  margin: auto;
}
