@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/colors" as *;

.circle {
  background-image: url(../assets/coffee-circle.jpg);
  height: 50rem;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: white;
    width: 20rem;
    height: 15rem;
    background: #393939;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__border {
    width: 100%;
    height: 100%;
    border: 5px solid #5bacc3;
    position: absolute;
    top: -1rem;
    left: -1rem;
  }
}

.sub-nav {
  color: white;
  text-align: center;
  background: #393939;
  font-size: 1.31rem;
  list-style-type: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  &__center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  &__li {
    margin-left: 1rem;
  }
}

.hot-drinks,
.pastries,
.cold-drinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__description {
    text-align: center;
    font-style: italic;
    align-self: center;
    width: 35%;
  }

  &__price {
    margin-bottom: 0;
  }
}
