@use "./colors" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 500;
  color: $textgrey;
  margin: 0;
}

h2,
h1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin-top: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-size: 1.1rem;
}

.products__button,
.featured__button,
.info__button {
  font-size: 1.31rem;
  padding: 1rem 2rem;
}

.cold-drinks,
.products {
  background: $backgroundlightblue;
}

.card__price,
.hot-drinks__price,
.cold-drinks__price,
.pastries__price {
  color: $nitro-blue;
}

/* pink */
.hot-drinks,
.nav,
.pastries,
.header,
.featured,
.footer,
.card__desc,
.different__background {
  background: $backgroundpink;
}

.nav__icon,
.header__icon,
.footer__icon,
.info__image {
  width: 3rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  font-size: 1.31rem;
  list-style-type: none;

  &__left,
  &__right {
    display: flex;
  }

  &__icon,
  &__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__link {
    text-decoration: none;
    color: $textgrey;
    margin: 2rem 1rem;
  }

  &__link--blue {
    color: $nitro-blue;
  }
}
